@font-face {
    font-family: Manrope, sans-serif
    }
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        outline: 0;
        padding: 0;
    font-family: Manrope, sans-serif
        font-size: 16px;
    }
    body {
        background-color: #2c2f33;
        background-image: url("https://discordapp.com/assets/530280c4e76a27a6dd43c0ecabb96e7d.png");
        color: #DDD;
        font-family: Manrope, sans-serif;
    }
    h3 {
        color: #FFF;
        font-weight: normal;
    }
    a.disabled {
        color: #999;
        cursor: not-allowed;
    }
    a {
        color: #FFF;
    }
    .light {
        background-color: #FFF;
        color: #2C2F33;
    }
    .light h3 {
        color: #000;
        font-weight: normal;
    }
    .light a {
        color: blue;
    }
    .light .eyes {
        filter: invert(1);
    }
    input[type="text"] {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #5865F2;
        color: #23272a;
        outline: none;
        padding: .25em;
    }
    input[type="text"].error {
        border-bottom: 2px solid #F00;
    }
    input[type="text"].success {
        border-bottom: 2px solid #2F2;
    }
    .small {
        font-size: .8em;
    }
    .container {
        margin: 0 auto;
        max-width: 1280px;
        padding: .5em;
    }
    .header-text {
        color: #23272a;
    font-weight: 500;
     }
    .header, .footer {
        color: #FFF;
    }
    .header {
        max-height: 3rem;

        text-align: center;

        z-index: 1;
    }
    .header .logo {
        height: 100%;
        width: auto;

        max-height: 2.5rem;
        max-width: 100%;

        object-fit: contain;

        vertical-align: middle;
    }
    .header .right-link {
        float: right;
        padding: .75em 1em;
        text-decoration: none;
        z-index: 1;
    }
    .header .right-link.eyes {
        padding: 0 .5em;
    }
    .header .eyes img {
        height: 100%;
        width: auto;

        max-height: 3rem;
        max-width: 100%;

        object-fit: contain;

        vertical-align: middle;
    }
    .header .title {
        font-size: 1.5rem;
        line-height: 3rem;

        height: 100%;

        vertical-align: middle;
    }
    .result .equation {
        font-size: .8em;
    }
    .result .permissions {
        font-size: 1.5em;
    }
    .selector {
        margin-bottom: 1em;
        overflow: auto;
        margin-left: -.5em;
        margin-right: -.5em;
    }
    .selector .col-me-maybe {
        float: left;
        margin: 0 auto;
        min-height: 1px;
        box-sizing: border-box;
        padding: 0 .5em;
        width: 100%;
    }
    .credits{
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 20px;
        background: #282b30;
        color: #fff;
        font-size: 11px;
        margin-top: 17.7px;
    }
    
    .credits span{
        color: var(--blurple);
        font-weight: 700;
    }
    .footer{
        width: 100%;
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 9;
        padding: 30px;
    }
    .footer h2{
        font-weight: 700;
        font-size: 35px;
    }
    body {
        overflow: hidden;
    }
    
    
    .footerLinks a{
        text-decoration: none;
        margin: 20px;
        font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        opacity: .5;
        transition: 0.5s;
    }
    
    
    .footerLinks a:hover{
        transform: translateY(-2px);
    }
    
    ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    input[type="checkbox" i] {
        box-sizing: border-box;
        color: inherit;
        margin: 0;
        padding: 0;
    }
    input[type="checkbox" i]:not(:checked), input[type="checkbox" i]:checked {
        position: absolute;
        left: -9999em;
        opacity: 0;
    }
    input[type="checkbox" i]+label {
        position: relative;
        padding-left: 1.75em;
        cursor: pointer;
        display: inline-block;
        height: 2em;
        line-height: 1.375em;
    }
    input[type="checkbox" i]+label:after, input[type="checkbox" i]+label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        border: 2px solid #888;
        border-radius: 2px;
        transition: .2s;
        z-index: 0;
    }
    input[type="checkbox" i]+label:before {
        border: 2px solid transparent;
    }
    input[type="checkbox" i]:checked+label:after, input[type="checkbox" i]:checked+label:before {
        content: "";
        left: 0;
        position: absolute;
    }
    input[type="checkbox" i]:checked+label:after {
        background-color: #57F287;
        border-color: #57F287;
    }
    input[type="checkbox" i]:checked+label:before {
        top: 0;
        left: -.1em;
        width: .2em;
        height: .6em;
        border-top: .2em solid transparent;
        border-right: .2em solid #23272a;
        border-bottom: .2em solid #23272a;
        border-left: .2em solid transparent;
        transform: rotateZ(45deg);
        transform-origin: 100% 100%;
        z-index: 1;
    }
    .footer {
        box-sizing: border-box;
        height: 3em;
        max-height: 3em;
        font-size: .8em;
        margin: 0;
        padding: 1em;
    }
    .large-only {
        display: none;
    }
    .oauth a {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
        white-space: initial;
        word-wrap: break-word;
    }
    .container.stacky-footer {
        box-sizing: border-box;
        z-index: 0;
        min-height: calc(100vh - 3em - 3em);
    }
    img {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    .custom-hr {
        border: 1px solid #888888;
    }
    .red-f2a {
        color: #7380f5;
    }
    .f2a-text-r {
        color: #888888;
    }
    .i-w {
        color: #FFF;
    }
    @media only screen and (min-width: 640px) {
        .footer {
            font-size: 1em;
        }
        .large-only {
            display: inline-block;
        }
        span.large-only {
            display: inline;
        }
        .selector .col-me-maybe {
            width: 33.3333333333%;
        }
    }
